*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #e9e9e9;
}
header{
    padding-top: 39px;
    margin-bottom: 169px;
}
.container{
    max-width: 1170px;
    margin: auto;
}
.container:after{
    clear: both;
    content: "";
    display: block;
}
header .logo{
    float: left;
}
header nav{
    float: right;
}
header nav ul{
    list-style: none;
}
header nav ul li{
    display: inline-block;
    margin-left: 30px;
    padding-top: 7px;
}
header nav ul li a{
    text-decoration: none;
    color: #191919;
    text-transform: uppercase;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}
header nav ul li:hover a, header nav ul li.active a{
    color: #10c9c3;
}
.fl_right{
    float: right;
}
.fl_right a button{

    text-decoration: none;
    background-color: #10c9c3;
    text-transform: uppercase;
    font-size: 12px;
    color: #ffffff;
    line-height: 54px;

    padding-left: 36px;
    padding-right: 36px;
    border: none;
    margin-top: 39px;
    margin-bottom: 200px;

}


.banner_information .fl_right{
    width: 42%;
}
.banner_information h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #1d1d1d;
    font-size: 38px;
    margin-bottom: 44px;
}
.banner_information p{
    color: #787878;
    font-size: 18px;
    font-family: 'Nunito Sans', sans-serif;

}
.contentaqua{
    background-color: #10c9c3;
    padding-top: 101px;
    padding-bottom: 99px;
}

.aqua{
    float: left;
    width: 25%;

}

.aqua img{
    margin-right: 30px;



}
.aqua:last-of-type{
    margin-right: 0;
}

.aqua p {
    display: inline-block;
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;

}

.aqua span{
    display: block;
    padding-top: 10px;
}
.aboutus{
    background-color: #ffffff;
    padding-top: 100px;

}

.aboutus h2{
    color:#191919;
    font-size: 30px;
    text-align: center;
    padding-bottom: 41px;
}
.aboutus p{
    color: #787878;
    font-size: 16px;
    text-align: center;
    line-height: 24px;

}
.podpis{
    text-align: center;
    padding-top: 40px;
    padding-bottom: 100px;

}
.fl_left{
    float: left;
    padding-left: 7%;
    max-width: 100%;


}
.progressinfo p{
    text-transform: uppercase;
    font-size: 12px;
    color: #000000;
    padding-top: 20px;

}
progress {
    background-color: #10c9c3;
    border: 0;
    width: 100%;
    height: 2px;

}
.profskills{
    background-color: #f8f9f9;
    clear: both;
    content: "";
    display: inline-block;
    width: 50%;

}

.fl_left h3{
    color: #171717;
    font-size: 30px;
    padding-bottom: 40px;
    padding-top: 165px;
}
.progressinfo{
    padding-bottom: 164px;
}
.video{
    background-color: white;
    padding-top: 150px;
    padding-bottom: 150px;
}
.video_info h2{
    color: #191919;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding-bottom: 44px;
}
.video_info p{
    color: #787878;
    font-size: 16px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    text-align: center;
    padding-bottom: 60px;
}
.grey{
    height: 400px;
    background-color: #d8d8d8;
    position: relative;
    max-width: 800px;
    margin: auto;
}
.grey .play{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 85px;
    height: 85px;
    border-radius: 50px;
    background-color: #10c9c3;
    margin-left: -42.5px;
    margin-top: -42.5px;
    cursor: pointer;
}
.eightfoto{
    background-color: #f5f5f5;
}
.icons
{
    float: left;
    width: 25%;
    text-align: center;
    display: block;
    margin-top:  102px;
}
.icons p span{
    text-align: center;
    display: block;
    text-transform: lowercase;
    padding-top: 31px;
    padding-bottom: 19px;
    color: #787878!important ;
    font-family: 'Nunito Sans', sans-serif;
}
.icons p{
    text-align: center;
    display: block;
    text-transform: uppercase;
    color:#191919;
    padding-bottom: 60px;
}
.hopkins{
    background-color: #10c9c3;
    text-align: center;
    color: #ffffff;
    padding-top: 181px;
    font-size: 24px;
}
.hopkins p{
    font-size: 12px;
    padding-top: 38px;
    padding-bottom: 110px;
    text-transform: uppercase;
}
.emblema{
    padding-top: 67px;
    padding-bottom: 68px;
    background-color: #ffffff;
}
.handmade{
    float: left;
    width: 20%;
}
.forma h3{
    font-size: 30px;
    color: #1d1d1d;
    text-align: center;
    padding-top: 103px;
    padding-bottom: 38px;


}
.forma p{
    text-align: center;
    color: #787878;
    font-size: 16px;
    font-family: 'Nunito Sans', sans-serif;
    padding-bottom: 41px;
}
.input{
    max-width: 672px;
    margin: auto;

}
#Name{
    display: inline-block;
    width: 320px;
    margin-bottom: 30px;
    line-height:48px;
    padding-left: 20px;
    box-sizing: border-box;
}
#Email{
    display: inline-block;
    width: 320px;
    margin-bottom: 30px;
    line-height:48px;
    padding-left: 20px;
    box-sizing: border-box;
    margin-left: 15px;
}

#Title,#Comment{
    display: block;
    width: 100%;
    margin-bottom: 30px;
    line-height:48px;
    padding-left: 20px;
}
#Comment{
    height: 170px;

}
.input button{
    display:block;
    margin: auto;
    background-color: #10c9c3;
    text-transform: uppercase;
    font-size: 12px;
    color: #ffffff;
    line-height: 54px;
    padding-right: 36px;
    padding-left: 36px;
    border: none;
    margin-bottom: 100px;
}
.input form{
    width: 100%;
}
.podval{
    max-width: 100%;
    background-color: #141414;
    margin: auto;
    padding-top: 100px;
    padding-bottom: 100px;
}
.piroll h4{
    font-size: 18px;
    color: #ffffff;
    padding-bottom: 28px;

}
.piroll p{
    font-size: 15px;
    color: #bcbcbc;
    line-height: 24px;

}
.emailpiroll{
    color: #bcbcbc;
    font-size: 15px;
    padding-left: 248px;
    line-height: 24px;

}
.spisok{
    padding-left: 152px;
}


.spisok ul{
    list-style: none;

}
.spisok ul li a{
    color: #bcbcbc;
    font-size: 15px;
    text-decoration: none;
    line-height: 24px;
}
.news ul{
    list-style: none;

}
.news ul li a{
    color: #bcbcbc;
    font-size: 15px;
    text-decoration: none;
    line-height: 24px;

}
.news{
    padding-left: 62px;
    padding-right: 0;
}

.social{
    padding-left: 139px;
}

.social ul{
    list-style: none;

}
.social ul li a{
    color: #bcbcbc;
    font-size: 15px;
    text-decoration: none;
    line-height: 24px;

}
.piroll,.emailpiroll, .spisok, .news, .social{
    float: left;
}